body {
    background-color: #FEFBE7;
}

hr {
    border-color: #006E7F;
    background-color: #006E7F;
    border-style: none;
    height: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1500px;
}

.breno-img {
    float: left;
}

@media (max-width: 1440px) {
    .grid-container {
        display: inline;
        text-align: left;
    }

    .breno-img {
        position: relative;
        left: 36px;
    }

}

@media (max-width: 650px) {
    .grid-container {
        display: inline;
        text-align: center;
    }

    .breno-img {
        position: relative;
        left: 30px;
    }

}


